<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.js'></script>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet" href="/stylesheets/style.css">


    <title>Material</title>
</head>

<body>
<div class="nav">
  <a href='/'>
       <img src='/images/logo.png' id="logo" >
       </a>
    <div id="nav-spacer"></div>

    <div class="search-bar">
    <form action="/search" method="GET">
    <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" placeholder="Search by artist, title, city or country" name="term" value="">
    </div>
    </form>

    <div class="nav-text">
    <span class="title">
    <a href="/"><h3>MATERIAL</h3></a>
    </span>
    {{#if user}}
    <a href="/auth/favorites"><div id="sign-up">My Favorites</a></div>
    <a href="/auth/logout"><div id="log-in">Log Out</a></div>
    {{else}}
    <a href="/auth/signup"><div id="sign-up" style="margin-left: 14%">Sign Up</a></div>
    <a href="/auth/login"><div id="log-in" style="margin-left: 20%">Log In</a></div>
    {{/if}}
    </div>
</div>
  <div class="index-spacer"></div>

{{{body}}}
</body>
</html>