<div class="listings-container">
      <div class="art-info-keys">
    <h5>Artist:
    <br>
    Title:
    <br>
    Year:</h5>
    </div>
    <div class="art-info-vals">
    <h5>{{artwork.artist}}
    <br>{{artwork.title}}
    <br>{{artwork.year}}
    </h5>
    </div>
    <div class="art-info-img">
      <img src='/images/serra.jpg' />
    </div>
  </div>